-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
--blue: #5e72e4;
--indigo: #5603ad;
--purple: #8965e0;
--pink: #f3a4b5;
--red: #f5365c;
--orange: #fb6340;
--yellow: #ffd600;
--green: #2dce89;
--teal: #11cdef;
--cyan: #2bffc6;
--gray: #6A6A6A;
--gray-dark: #323232;
--lighter: #fff;
--light-primary: #8F0700;
--gray-badge: #A7A7A7;
--new-primary: #A0332D;
--primary: #A0332D;
--secondary: #D6A64F;
--success: #2dce89;
--info: #11cdef;
--warning: #fb6340;
--danger: #f5365c;
--light: #f5f5f5;
--dark: #212529;
--default: #363636;
--white: #fff;
--neutral: #fff;
--darker: black;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
font-family: "Open Sans", sans-serif;
font-weight: 400;
line-height: 1.5;
color: #525f7f;
text-align: left;
box-sizing: border-box;
border-radius: 1rem;
background-color: white;
max-height: 600px;
margin: 0;
padding: 1.2rem;
font-size: 12px;
flex: 0 0 30%;